* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  height: 10vh;
  padding: 0 12%;
  background: #FCFDFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  height: 50px;
}
.footer {
  height: 10vh;
  font-size: 18px;
  background: #F8F8F8;
  display: flex;
  justify-content: center;
  align-items: center;
}